* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
    display: flex;
    padding: 30px;
}

.video_principal{
    display: flex;
}

.lista_videos{
    display: flex;
    margin: 15px;
}

.video_recomendados{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100px;
   
}
