* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
    display: flex;
    padding: 30px;
}

header{
    height: 200px;
    background-color: red;
}

.video_principal{
    display: flex;
}

.lista_videos{
    display: flex;
    padding-left: 40px;
}

.video_recomendados{
    display: flex;
    flex-direction: column;
    height: 315;
    width: 250px;
   
}
